{% extends 'base.html.twig' %}

{% block title %}Liste d'emprunt{% endblock %}

{% block body %}
    <h1>Liste d'emprunt</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BorrowDate</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.borrowDate ? borrow.borrowDate|date('Y-m-d') : '' }}</td>
                <td>{{ borrow.status }}</td>
                <td>
                    <a href="{{ path('app_borrow_show', {'id': borrow.id}) }}">Montrer</a>
                    <a href="{{ path('app_borrow_edit', {'id': borrow.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_borrow_new') }}">Emprunter un livre</a>
{% endblock %}
